.editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

.editor__container-editors {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.editor__editor-code {
  border: 1px solid rgba(0, 0, 0, 0.25)
}

.editor__names {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: none;
  padding: .6rem 1rem;
  background: #f5f5f5;
}

.editor__container-iframe {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.editor__container-iframe iframe {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  flex-grow: 1;
}